* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    font-family: "Inter";
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #393a56;
}
.button {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    background: #376fff;
    border-radius: 12px;
    padding: 18px 63px 18px 63px;
    border: none;
    cursor: pointer;
}

/*Header*/
.header-wrapper {
    background: rgba(36, 42, 86, 0.7);
    background-image: url(/img/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    max-width: 1860px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 24px 0;
    margin-bottom: 93px;
}

.header__content {
    display: flex;
    align-items: center;
}
.nav {
    margin-right: 60px;
}

.header-nav__item {
    margin-right: 40px;
    line-height: 19px;
    color: #c1d3de;
    text-decoration: none;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.header-nav__item:hover {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 20px;
    transition: 0.03s;
}
.button__header {
    font-weight: bold;
    line-height: 20px;
    color: #c1d3de;
    text-decoration: none;
    border: 1px solid #c1d3de;
    border-radius: 12px;
    padding: 14px 24px;
    margin-right: 24px;
}

.button__header:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.button-lv {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c1d3de;
    border-radius: 12px;
    padding: 14px 23px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
}

.button-lv:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.header__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 79px;
    color: #ffffff;
    max-width: 446px;
    margin-bottom: 28px;
}

.header-subscript {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    padding-bottom: 93px;
}

/*Main*/
.main__wrapper {
    background-color: #edf4fa;
}
.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main__img {
    padding-top: 54px;
    margin-right: 40px;
    padding-bottom: 55px;
}

.main-content {
    max-width: 680px;
}
.main-frame {
    display: inline-flex;
    align-items: center;
    border: 1px solid #c1d3de;
    box-sizing: border-box;
    border-radius: 12px;
    background: #fbf7f1;
    padding: 30px 30px;
    margin-bottom: 40px;
}
.main__subscription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #242a56;
}
.main__subscription:last-child {
    margin-top: 10px;
}
.main-question {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    color: #242a56;
    margin-bottom: 40px;
}
.main__subscription-ad {
    font-size: 20px;
    line-height: 45px;
    color: #242a56;
}
/*Google ad*/
.ad {
    padding-top: 80px;
    padding-bottom: 100px;
}
.ad__title {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    color: #242a56;
    margin-bottom: 60px;
}
.ad__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.ad__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ad__subscription {
    max-width: 320px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    text-align: center;
}
.ad__img {
    border: 1px solid #c1d3de;
    padding: 30px 30px;
    border-radius: 12px;
    margin-bottom: 40px;
}
/*Servise lists*/
.service__list-wrapper {
    background: url(tiny_grid_@2X.png), #edf4fa;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service__title {
    text-align: center;
    margin-bottom: 60px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-one {
    max-width: 440px;
    list-style: none;
}
.list-one__subscription {
    border-bottom: 1px solid #c1d3de;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding: 12px 100px 12px 20px;
    margin-right: 40px;
}
.list-one__subscription:nth-child(even) {
    background: rgba(255, 255, 255, 1);
}
.list-one__subscription:first-child,
.list-one__subscription:last-child {
    border-top: 1px solid #c1d3de;
}
.list-two {
    list-style: none;
    margin-bottom: 38px;
}
.list-all {
    padding: 0px 40px 40px 40px;
    border: 1px solid #c1d3de;
    box-sizing: border-box;
    border-radius: 12px;
    width: 440px;
    margin-bottom: 60px;
    background-color: #ffffff;
}
.list-all:nth-child(2) {
    margin-right: 40px;
}
.list-icon {
    position: relative;
    left: 80%;
    bottom: 6px;
}
.list-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;

    margin-bottom: 12px;
}
.list-info:nth-child(4) {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}
.list-info:nth-child(2),
.list-info:nth-child(4) {
    font-weight: bold;
}
.list-two__subscription {
    padding: 12px 0 12px 20px;
    border-bottom: 1px solid #c1d3de;
    background-color: #edf4fa;
}
.list-two__subscription:first-child {
    border-top: 1px solid #c1d3de;
}
.list-two__subscription:nth-child(even),
.list-check:nth-child(even) {
    color: #393a56;
    background: rgba(255, 255, 255, 1);
}
.list-check {
    padding: 12px 0 12px 20px;
    border-bottom: 1px solid #c1d3de;
    background-color: #edf4fa;
}

.button--list::after {
    content: "→";
    color: #ffffff;
    margin-left: 24px;
}
.note-price {
    display: flex;
    align-items: flex-start;
    background: #edf4fa;
    border: 1px solid #c1d3de;
    border-radius: 12px;
    max-width: 1400px;
}
.img-price {
    padding: 40px 40px 40px 40px;
}
.price {
    font-size: 20px;
    line-height: 28px;
    padding: 46px 0 40px 0;
}
/*Types*/
.types-ad {
    display: block;
}
.types__title {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.types__content {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.types__content-text {
    display: flex;
    flex-direction: column;
    max-width: 560px;
}
.types__content-text:nth-child(1),
.types__content-text:nth-child(3) {
    margin-right: 41px;
}
.types__content-text:nth-child(2),
.types__content-text:nth-child(4) {
    margin-left: 41px;
}
.types__content-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 24px;
}
.types__content-subscription {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}

.types__content-img {
    flex-basis: 799px;
}
/*Offers*/
.offers__wrapper {
    background: #393a56;
    padding-top: 80px;
    padding-bottom: 60px;
}
.menu-open {
    display: none;
}

.slider {
    display: none;
}
.offers__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    color: #ffffff;
}
.offers__content {
    display: flex;
    align-content: space-between;
}
.offers__content-item {
    flex-basis: 420px;
    border-top: 2px solid #ffffff;
    margin-right: 40px;
}
.offers__content-item:last-child {
    margin-right: 0;
}
.offers__img {
    margin-top: 38px;
    margin-bottom: 40px;
}
.offers__content-title {
    font-size: 26px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 24px;
}
.offers__content-subscription {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}
/*Steps*/
.steps {
}
.steps__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.steps__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.steps__content-item {
    max-width: 440px;
    border-top: 1px solid #c1d3de;
    margin-right: 40px;
    margin-bottom: 60px;
}
.steps__icon {
    margin-top: 38px;
    margin-bottom: 40px;
}
.steps__content-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 24px;
}
.steps__content-subscription {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 53px;
}
/*Results*/
.results__wrapper {
    background-color: #edf4fa;
    padding-top: 80px;
    padding-bottom: 80px;
}
.results__title {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    color: #242a56;
    margin-bottom: 60px;
}
.results__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
}
.results__content-item {
    display: flex;
    align-items: center;
}
.results__icon {
    margin-right: 20px;
}
.results__subscription {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
/*Clients*/
.clients {
    margin-top: 25px;
    margin-bottom: 80px;
}
.clients__title {
    text-align: center;
    margin-top: 51px;
    margin-bottom: 60px;
}
.clients__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    flex-basis: 1400px;
    margin-bottom: 80px;
}
.clients__icon {
    border: 2px solid #c1d3de;
    border-radius: 12px;
    padding-left: 26px;
    padding-right: 26px;
}

.clients__number {
    display: flex;
    background: #376fff;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.clients__number-title {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #ffffff;
    margin-bottom: 40px;
}
.clients__number-subscript {
    font-size: 26px;
    line-height: 130%;
    color: #ffffff;
}
.clients-info {
    max-width: 619px;
    padding: 60px 42px 52px 60px;
}
.number {
    display: flex;
    align-items: center;
}
.clients__number-contact {
    font-weight: bold;
    font-size: 68px;
    line-height: 79px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
/*Footer*/
.footer__wrapper {
    background-color: #edf4fa;
    padding-top: 90px;
    padding-bottom: 60px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.footer-form {
    border-radius: 12px;
    background: #376fff;
    width: 100%;
    padding: 60px 60px;
}
.form__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 24px;
}
.form__subscription {
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
}
.footer-form__input {
    display: inline-block;
    width: 100%;
    padding: 18px 32px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid #ffffff;
}
.footer-form__input:last-child {
    margin-bottom: 0;
}
.footer-form__input::placeholder {
    color: #c1d3de;
}
.footer-form__input--tetxarea {
    min-width: 100%;
    width: 100%;
    min-height: 120px;
    max-height: 100%;
    resize: none;
}
.footer-form__input--tetxarea .placeholder {
    color: #c1d3de;
}
.footer-from__action {
    display: flex;
    align-items: center;
}
.footer--button {
    background-color: #ffffff;
    color: #376fff;
    padding: 18px 42px 18px 42px;
    margin-right: 20px;
}
.footer--button ::after {
    content: "→";
    color: #376fff;
    margin-left: 24px;
}

.input-wrapper-checkbox {
    margin-left: auto;
    margin-right: auto;
}
.input-wrapper-checkbox input[type="checkbox"] {
    appearance: none;
    position: absolute;
    opacity: 0;
}
.input-wrapper-checkbox label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.input-checkbox {
    position: relative;
    border-radius: 4px;
    width: 40px;
    height: 20px;
    border: 2px solid #c1d3de;
    margin-right: 12px;
}
.input-wrapper-checkbox input[type="checkbox"]:checked ~ label > .input-checkbox::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.input-checkbox__text {
    line-height: 24px;
    color: #c1d3de;
}
.input-checkbox__text a {
    color: #c1d3de;
}
.footer__content {
    margin-right: 40px;
}
.footer__content-text {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.3fr;
    gap: 5px 10px;
}
.footer__logo {
    margin-bottom: 40px;
}
.footer__info {
    margin-bottom: 40px;
}
.footer__info:nth-child(3) {
    margin-top: 40px;
}
.footer__info:nth-child(4) .footer__info-contact {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #393a56;
}

.footer__info-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #8b9bab;
    margin-bottom: 16px;
}
.footer__info-contact {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #376fff;
}
.map {
    border-radius: 12px;
}
.copyright {
    color: #8b9bab;
    margin-top: 40px;
}
/* Slider */
.slick-slider {
    min-width: 0;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slick-list {
    overflow: hidden;
}
.offers__content-item-slider {
    padding: 0px 15px;
}

.offers__content-item-slider img {
    max-width: 100%;
}
.slick-dotted.slick-slider {
    display: none;
}
.offer-slide .offers__title {
    visibility: hidden;
}
.steps-slide .steps__title {
    visibility: hidden;
}
